/* =========== font varibales =========== */
/* =========== fonts =========== */
@import url("https://fonts.googleapis.com/css?family=Heebo:300,400,700|Roboto");
/* =========== color varibales =========== */
/* ================ Styling Header Area ================ */
.header_area {
  position: absolute;
  background: transparent;
  top: 0;
  left: 0;
  z-index: 999;
  font-family: "Roboto", sans-serif;
  width: 100%;
}
.header_area nav .navbar-brand {
  color: white;
  font-size: 26px;
  font-weight: 700;
}
.header_area nav .navbar-brand:hover {
  color: white;
}
.header_area nav .navbar-collapse {
  padding: 25px 0;
}
.header_area nav .navbar-collapse .navbarLeft {
  margin-left: auto;
}
.header_area nav .navbar-collapse .navbarLeft li {
  margin-left: 20px;
}
.header_area nav .navbar-collapse .navbarLeft li a {
  color: white;
  text-transform: uppercase;
  font-size: 12px;
}
.header_area nav .navbar-collapse .navbarLeft li a:hover {
  color: white;
}
.header_area nav .navbar-right li {
  border: 1px solid #ffffff57;
  border-radius: 2px;
  padding: 5px 30px;
  background: rgba(255, 255, 255, 0.1);
}
.header_area nav .navbar-right li a {
  color: white !important;
  font-size: 12px;
}

/* ================ Styling Banner Area ================ */
.banner_area {
  background-image: linear-gradient(100deg, #4dabff 0%, #62ddff 100%);
}
.banner_area .content_bannerSec {
  align-self: center;
}
.banner_area .content_bannerSec .content_banner h1 {
  font-family: "Heebo", sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: white;
  margin-top: 0;
}
.banner_area .content_bannerSec .content_banner p {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.7px;
  margin-bottom: 35px;
}
.banner_area .content_bannerSec .content_banner .btn_banner_area {
  font-size: 14px;
}
.banner_area .content_bannerSec .content_banner .btn_banner_area .l-btn {
  text-decoration: none;
  color: white;
  border: 1px solid #ffffff57;
  border-radius: 2px;
  padding: 13px 30px;
  background: rgba(255, 255, 255, 0.1);
  margin-right: 10px;
}
.banner_area .content_bannerSec .content_banner .btn_banner_area .r-btn {
  text-decoration: none;
  color: black;
  border: 1px solid #fff;
  border-radius: 2px;
  padding: 13px 30px;
  background: white;
}
.banner_area .img_banner_areaSec .img_banner_area img {
  width: 100%;
  padding: 230px 0;
}

/* ================ Styling work Area ================ */
.work_area {
  font-family: "Roboto", sans-serif;
  padding-bottom: 70px;
}
.work_area .container .main_title {
  padding: 70px 0 50px;
}
.work_area .container .main_title h1 {
  font-size: 36px;
  color: #222;
  margin-bottom: 15px;
  font-weight: 700;
  font-family: "Heebo", sans-serif;
}
.work_area .container .main_title p {
  font-size: 14px;
  color: #777;
  max-width: 580px;
  margin: auto;
}
.work_area .container .content_work .row div i {
  width: 80px;
  height: 80px;
  border: 1px solid #eee;
  border-radius: 5px;
  text-align: center;
  line-height: 80px;
  font-size: 28px;
  color: #222;
  background: #f7f7f78c;
  margin-bottom: 25px;
}
.work_area .container .content_work .row div h3 {
  font-family: "Heebo", sans-serif;
  color: #222;
  font-weight: 700;
}
.work_area .container .content_work .row div p {
  font-size: 14px;
  color: #777;
}
.work_area .container .content_work .row div:hover i {
  background-image: linear-gradient(100deg, #4dabff 0%, #62ddff 100%);
  color: #fff;
  box-shadow: 0px 13px 25px #9e9e9e33;
}
.work_area .container .content_work .row div:hover h3 {
  color: #4dabff;
}

/*# sourceMappingURL=main.css.map */
